/IMG-20240627-WA0017.jpg
/IMG-20240627-WA0018.jpg
/IMG-20240627-WA0019.jpg
/black_cam.png
/cls.png
/clse.png
/ctk
/db
/email_cred.ini
/gui
/light_cam.png
/my_qrcode.png
/opxl
/panda_course
/pandas.xlsx
/point_qr.png
/pointing_reg.xlsx
/starter
/testing.xlsx
/xp.xlsx